/* Navigeerimisriba */
.nav-bar {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.nav-bar li {
    margin: 0;
}

.nav-link {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

/* Hover */
.nav-link:hover {
    background-color: #555;
}

.images {
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding: 5px;
}

.filler {
    flex-grow: 1;
}

/* Lehe põhijaotus: külgribad + sisu */
.page-layout {
    display: flex;
    flex: 1;
    min-height: 100%;
    margin-top: 10px;
}

.sidebar {
    flex: 1;                /* külgede ruum */
    background: #ccc;
    border-radius: 20px;
}

.content {
    flex: 2;                /* keskmine osa suurem */
    padding-left: 10px;
    padding-right: 10px;
}

/* Postituste kastid */
.post {
    /* border: 1px solid #ccc; */
    background-color: #eeeeee;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.date {
    font-size: 0.9em;
    color: #666;
}

.post-image {
    max-height: 300px;  /* piirab kõrgust suurel ekraanil */
    margin: 10px 0;
}

.post-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-footer .thumbs-up {
    width: 50px;
    height: 40px;
}


/* Footer */
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    border-radius: 5px;
}

/* Tagab, et footer jääb lehe alla */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* AddPost vorm */
#addPostForm {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

#addPostForm input[type="text"],
#addPostForm input[type="file"],
#addPostForm textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #003e81;  /* sinine */
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
